<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Database</title>
</head>
<body>
<div class="container">


    <h3> Database of users</h3>
    <hr>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th> First name</th>
            <th> Last name</th>
            <th> Username</th>
            <th> Email </th>
            <th> Password </th>
            <th> Enable </th>
            <th> Role </th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="tempUsers: ${users}">
            <td th:text="${tempUsers.firstName}"/>
            <td th:text="${tempUsers.lastName}"/>
            <td th:text="${tempUsers.username}"/>
            <td th:text="${tempUsers.email}"/>
            <td th:text="${tempUsers.password}"/>
            <td th:text="${tempUsers.enabled}"/>
            <td th:text="${tempUsers.appUserRole}"/>

            <!--Add a button-->
            <td>
                <a th:href="@{/users/showFormForUpdate(userId=${tempUsers.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>
            </td>

        </tr>
        </tbody>

    </table>
</div>
</body>
</html>