<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Registration</title>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/auth/register">
        <h2 class="form-signin-heading">Registration form</h2>
        <p>
            <label for="firstName"> First name </label>
            <input type="text" id="firstName" name="firstName" class="form-control" placeholder="First name" required>
        </p>
        <p>
            <label for="lastName"> Last name </label>
            <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last name" required>
        </p>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <p>
            <label for="email">Email</label>
            <input type="password" id="email" name="password" class="form-control" placeholder="Email" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>
